<form>
    <select name="search_method" required="true">
        <option value="opgg">소환사 정보 전체 검색</option>
        <option value="self">승패 정보만 보기</option>
    </select>
    op.gg 소환사 : <input type="text" name="userName" required="true">
    <input type="submit" value="검색">
</form>

<% if params[:userName] %>
<ul>
    <li><%= params[:userName] %> 님의 전적입니다.</li>
    <li><%= @win %> 승</li>
    <li><%= @lose %> 패</li>
</ul>
<% end %>
